@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

//Colors
$violet: hsl(257, 40%, 49%);

$header-font: 'Poppins',
sans-serif;
$regular-font: 'Open Sans',
sans-serif;

h1 {
    font-family: $header-font;
}

body {
    font-family: $regular-font;
    height     : 100%;
    width      : 98.5%;

    font-size       : calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));

    background-image   : url('../images/bg-mobile.svg');
    background-color   : $violet;
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : contain;

    @media only screen and (min-width: 768px) {
        background-image: url('../images/bg-desktop.svg');
        background-size : cover;
    }
}

.container {
    margin    : 0 auto;
    margin-top: 2em;
    width     : 85%;

    display        : grid;
    justify-content: center;

    .header {
        width: 100%;
    }

    .logo {
        background-image : url('../images/logo.svg');
        background-repeat: no-repeat;
        background-size  : contain;
        width            : 9em;
        height           : 3em;
        float            : left;
    }

    .hero-img {
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    .hero-content {
        text-align    : center;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        color         : white;

        button {
            margin-top      : 2em;
            border          : none;
            background-color: white;

            font-family  : $header-font;
            color        : $violet;
            border-radius: 20em;
            width        : 50%;
            height       : 3em;

            box-shadow: 5px 5px 3px rgba($color: #000000, $alpha: 0.15);
        }
    }

    .socials {
        margin    : 0 auto;
        margin-top: 3em;
        display   : flex;
        column-gap: 1em;

        .icon {
            display        : flex;
            justify-content: center;
            align-items    : center;

            height       : 40px;
            width        : 40px;
            color        : white;
            border       : 1px solid white;
            border-radius: 20em;
        }
    }

    @media only screen and (min-width: 768px) {
        height               : 85vh;
        position             : relative;
        width                : 90%;
        grid-template-rows   : 10% 90%;
        grid-template-columns: 50% 50%;
        grid-template-areas  : "logo logo"
            "image content"
            "image content"
            "image content";
        align-items: center;

        .header {
            align-self: start;
            grid-area: logo;
        }

        .logo {
            width    : 10em;
        }

        .hero-img {
            grid-area: image;
        }

        .hero-content {
            padding    : 0 3em;
            grid-area  : content;
            text-align : left;
            align-items: flex-start;

            button {
                width: 30%;
            }
        }

        .socials {
            position: absolute;
            right   : 0;
            bottom  : 2em;
        }
    }
}

.attribution {
    font-size : 11px;
    text-align: center;
    color     : white;
    margin-top: 5em;

    @media only screen and (min-width: 768px) {
        position: absolute;
        bottom  : 0;
        right   : 7em;
    }
}

.attribution a {
    color: black;
}